In [1]:
import pandas as pd
df = pd.read_csv('titanic.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
X = df[['Pclass','SibSp','Parch','Fare']]
y = df.Survived

In [5]:
X.head()

   Pclass  SibSp  Parch     Fare
0       3      1      0   7.2500
1       1      1      0  71.2833
2       3      0      0   7.9250
3       1      1      0  53.1000
4       3      0      0   8.0500

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Logistic Regression

In [7]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6681614349775785

In [8]:
from sklearn.model_selection import cross_val_score,KFold
model = LogisticRegression()
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.58888889 0.66292135 0.71910112 0.61797753 0.69662921 0.6741573
 0.70786517 0.70786517 0.74157303 0.75280899]
Average Cross Validation score :0.6869787765293383

In [9]:
algorithms = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
for algo in algorithms:
    score = cross_val_score(LogisticRegression(max_iter= 4000, solver= algo), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({algo}): {"{:.3f}".format(score.mean())}')

Average score(newton-cg): 0.687
Average score(lbfgs): 0.687
Average score(liblinear): 0.685
Average score(sag): 0.669
Average score(saga): 0.678

# KNN Classifier

In [11]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors = 5)
neigh.fit(X_train, y_train)
y_pred = neigh.predict(X_test)
accuracy_score(y_test, y_pred)

0.6681614349775785

In [13]:
from sklearn.model_selection import cross_val_score,KFold
model = KNeighborsClassifier(n_neighbors = 5)
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.63333333 0.60674157 0.53932584 0.59550562 0.65168539 0.76404494
 0.69662921 0.71910112 0.61797753 0.70786517]
Average Cross Validation score :0.6532209737827714

# SVM

In [15]:
from sklearn.svm import SVC
model1 = SVC(kernel = 'linear', C = 1, gamma = 'auto')
model1.fit(X_train,y_train)
y_pred = model1.predict(X_test)
accuracy_score(y_test, y_pred)

0.6636771300448431

In [23]:
from sklearn.model_selection import cross_val_score,KFold
model = SVC(kernel = 'linear', C = 1, gamma = 'auto')
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.63333333 0.60674157 0.53932584 0.59550562 0.65168539 0.76404494
 0.69662921 0.71910112 0.61797753 0.70786517]
Average Cross Validation score :0.6532209737827714

# Decision Tree

In [26]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.6636771300448431

In [27]:
from sklearn.model_selection import cross_val_score,KFold
model = DecisionTreeClassifier()
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.66666667 0.68539326 0.6741573  0.56179775 0.61797753 0.78651685
 0.65168539 0.71910112 0.75280899 0.70786517]
Average Cross Validation score :0.6823970037453184

# Random Forest

In [42]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(n_estimators = 100)
clf1.fit(X_train, y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.6636771300448431

In [44]:
from sklearn.model_selection import cross_val_score,KFold
model = RandomForestClassifier(n_estimators = 100)
kf=KFold(n_splits=10)
score=cross_val_score(model,X,y,cv=kf)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [0.67777778 0.62921348 0.6741573  0.58426966 0.62921348 0.7752809
 0.70786517 0.73033708 0.74157303 0.73033708]
Average Cross Validation score :0.6880024968789015

In [38]:
from sklearn import ensemble
n_estimators = [50, 100, 150, 200, 250, 300, 350]
criterion = ['gini', 'entropy']
for val in n_estimators:
  for crit in criterion:
    score = cross_val_score(ensemble.RandomForestClassifier(n_estimators= val,criterion= crit ), X, y, cv= kf, scoring="accuracy")
    print(f'Average score({val}): {"{:.3f}".format(score.mean())}')

Average score(50): 0.691
Average score(50): 0.695
Average score(100): 0.692
Average score(100): 0.686
Average score(150): 0.689
Average score(150): 0.697
Average score(200): 0.697
Average score(200): 0.695
Average score(250): 0.692
Average score(250): 0.690
Average score(300): 0.696
Average score(300): 0.691
Average score(350): 0.696
Average score(350): 0.696

# Grid Search

In [37]:
C = [0.1, 1, 10, 100, 1000]
gamma = [1, 0.1, 0.01, 0.001, 0.0001]
kernel = ['rbf']
for c in C:
  for g in gamma:
    for k in kernel:
     score = cross_val_score(SVC(kernel = k, C = c, gamma = g), X, y, cv= kf, scoring="accuracy")
     print(f'Average score({val}): {"{:.3f}".format(score.mean())}')

Average score(350): 0.616
Average score(350): 0.634
Average score(350): 0.683
Average score(350): 0.676
Average score(350): 0.659
Average score(350): 0.710
Average score(350): 0.686
Average score(350): 0.671
Average score(350): 0.674
Average score(350): 0.667
Average score(350): 0.700
Average score(350): 0.697
Average score(350): 0.676
Average score(350): 0.677
Average score(350): 0.683
Average score(350): 0.697
Average score(350): 0.708
Average score(350): 0.684
Average score(350): 0.671
Average score(350): 0.675
Average score(350): 0.694
Average score(350): 0.714
Average score(350): 0.684
Average score(350): 0.681
Average score(350): 0.665